<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eaglechat.eaglechat" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConversationActivity"
            android:label="@string/title_activity_conversation"
            android:parentActivityName=".ContactsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eaglechat.eaglechat.ContactsActivity" />
        </activity>
        <activity
            android:name=".ContactsActivity"
            android:label="@string/title_activity_contacts" >
        </activity>
        <activity
            android:name=".AddContactActivity"
            android:label="@string/title_activity_add_contact"
            android:parentActivityName=".ContactsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eaglechat.eaglechat.ContactsActivity" />
        </activity>

        <provider
            android:name=".DatabaseProvider"
            android:authorities="eaglechat.eaglechat.provider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="false" >
        </provider>

        <activity
            android:name=".MyDetailsActivity"
            android:enabled="true"
            android:label="@string/title_activity_my_details"
            android:parentActivityName=".ContactsActivity"
            android:windowSoftInputMode="stateUnchanged" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eaglechat.eaglechat.ContactsActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
    </application>

</manifest>
